.pixel-blast-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: auto;
}

.pixel-blast-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
